/* =============== Global Styles ============== */
/* Color palletes */
*{
    font-family: 'Lato', sans-serif;
}

:root{
    --primary-color: #F85559;
    --heading-color: #121212;
    --text-color: rgba(18, 18, 18, 0.6);
    --bg-color: #F3F3F3;
    --border-color: rgba(18, 18, 18, 0.1);
}

.primary-color{
    color: var(--primary-color);
}

.heading-color{
    color: var(--heading-color);
}

.text-color{
    color: var(--text-color);
}

.bg-color{
    color: var(--bg-color);
}

.border-color{
    color: var(--border-color)
}

/* Font Styles */
.primary-heading{
    font-size: 3rem;
    font-weight: 700;
    color: var(--heading-color);
}

.secondary-heading{
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--heading-color);
}

.text{
    font-size: 16px;
    color: var(--text-color)
}

/* Button Styles */
.main-button{
    color: white;
    background-color: var(--primary-color);
    padding: 14px 32px;
    border-radius: 8px;
    font-weight: 800;
}
/* Background Styles */
.hero-bg{
    background: url(./images/banner1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.team-bg{
    background: url(./images/banner.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Slider BG Images */
.slider1{
    background: url(./images/banner1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}
.slider2{
    background: url(./images/banner2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}
.slider3{
    background: url(./images/banner3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}
.slider4{
    background: url(./images/banner4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}